<!DOCTYPE html>
<html>
<head>
    <title>Electric Store</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
</head>
<body>
    <p th:text="|Сколько продуктов показываются: ${shows}|" />
    <div th:switch="${shows}">
        <div th:case="2">
            <p th:text="${product1}"></p>
            <p th:text="${product2}"></p>
        </div>
        <div th:case="1">
            <p th:text="${product1}"></p>
        </div>
        <div th:case="*">
            <p th:text="${product1}"></p>
            <p th:text="${product2}"></p>
            <p th:text="${product3}"></p>
        </div>
    </div>
</body>
</html>